{{#if posts.length}}
<section class="dashboard">
    {{#each posts as |post|}}
        <div class="card-content">
            <div class="content">
                {{> post-info post}}
                <button type="submit" class="button is-success">
                    <a href="/dashboard/edit/{{post.id}}" class="card-footer-item" id="edit-link">Edit Post</a> 
                </button>
            </div>
        </div>
        {{/each}}
</section>
{{/if}}

<button type="submit" class="button is-success"><a class="link" href="/dashboard/new">+ New Post</a></button>
