<div class="edit-post">
    <header class="card-header">
        <p class="title">
            Edit Post
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            <form class="edit-post-form">
                <label for="post-title">Title</label>
                <div class="control">
                    <input class="input" name="post-title" type="text" value="{{post.title}}" />  
                </div>
                </br>
                <label for="content">Content</label>
                <div class="control">
                    <input class="input" name="content" type="text" value="{{post.content}}" /> 
                </div>
                </br>

                <button type="submit" class="button is-success" id="btn">Update post</button>
                <button type="button" class="button is-success" id="delete-post-btn">Delete post</button>
            </form>
        </div>
    </div>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>