<form class="box" id="login-form">
    <div class="field">
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" />
    </div>
    <div class="field">
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
    </div>
    <div class="field">
        <button type="submit" class="button is-success">Login</button>
        <a class="signup-link" href="/signup">Sign up instead!</a>
    </div>
</form>

<script src="/javascript/login.js"></script>