<form id="signup-form">
    <div class="card-header">
        <p class="title">
            Sign Up
        </p>
    </div>
    <div class="card-content">
        <div class="content">
            <label for="username-signup">Username:</label>
            <div class="control">
                <input class="input" type="username" id="username-signup" />
            </div>
            </br>
            <label for="password-signup">Password:</label>
            <div class="control">
                <input class="input" type="password" id="password-signup" /> 
            </div>
        </div>
    </div>

    <button type="submit" class="button is-success">Sign Up</button>
    </br>
    <div class="control">
        <a class="login-link" href="/login">Log in instead!</a>
    </div>
    
</form>

<script src="/javascript/signup.js"></script>