<form class="box" id="signup-form">
    <div class="field">
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div class="field">
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div class="field">
        <button type="submit" class="button is-success">Sign Up</button>
        <a class="login-link" href="/login">Log in instead!</a>
    </div>
</form>

<script src="/javascript/signup.js"></script>