
{{> post-info post }}

{{#if loggedIn}}
<form class="box" id="comment-form">
    <div class="field">
        <textarea name="comment-body"></textarea>
    </div>

    <div class="field">
        <button type="submit" class="button is-success">Add Comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}