* {
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(193, 243, 210);
    margin: 100px;
}

.subtitle {
    padding: 25px;
}

#blog-title {
    border-width: 5px;
    border-style: double;
    border-color: black;
    margin: 20px;
    padding: 5px;
    width: 335px;
}

#login-form, #signup-form {
    padding: 100px;
}

#post-list, .dashboard, #single-post, .edit-post {
    padding: 50px;
}

